.sats-info{class: local_assigns[:mobile] ? 'mobile-sats-info' : ''}
  %span.sats-label{"data-action" => "click->topics#toggleSatsLabel"} Sats
  .sats-received{"data-sats" => topic.sats_received}= topic.sats_received
  |
  = link_to "Vote with ⚡", "https://www.lnurlpay.com/#{topic.lnurl}",
    class: "send-btc-link #{local_assigns[:mobile] ? 'mobile-lightning-button' : ''}",
    target: "_blank",
    rel: "noopener"
