.vote-buttons{class: local_assigns[:mobile] ? 'mobile-vote-buttons' : ''}
  = button_to upvote_socratic_seminar_topic_path(@socratic_seminar, topic),
    method: :post,
    class: "vote-button #{local_assigns[:mobile] ? 'mobile-vote-button' : ''}",
    disabled: (vote_state == 'up'),
    form: { data: { topics_target: 'voteForm', turbo: 'false' } } do
    %span.vote-arrow
      %i.fas.fa-arrow-up
  = button_to downvote_socratic_seminar_topic_path(@socratic_seminar, topic),
    method: :post,
    class: "vote-button #{local_assigns[:mobile] ? 'mobile-vote-button' : ''}",
    disabled: (vote_state == 'down'),
    form: { data: { topics_target: 'voteForm', turbo: 'false' } } do
    %span.vote-arrow
      %i.fas.fa-arrow-down
