.container
  %h1 Profile

  %p
    %strong Email:
    = current_user.email

  %p
    %strong Site Role:
    = current_user.site_role_name&.titleize || 'User'

  %div{style: "margin-top: 1rem; display: flex; gap: 0.5rem;"}
    = link_to 'Edit profile', edit_user_registration_path, class: 'button'
    = button_to 'Logout', destroy_user_session_path, method: :delete, class: 'button button-danger'


