%div{style: "display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 80vh;"}
  %h1{style: "font-size: 2.5em; color: #f7931a; margin-bottom: 1em;"} Sats vs Bitcoin Toggle Counts
  %div{style: "font-size: 2em; margin-bottom: 1em; color: #222; display: flex; gap: 2em; align-items: center;"}
    %span{style: "display: flex; align-items: center;"}
      %i.fab.fa-btc{style: "margin-right: 0.3em;"}
      Bitcoin:
      %strong{style: "margin-left: 0.3em;"}= @btc_count
    %span{style: "display: flex; align-items: center; color: #f7931a;"}
      %i.fak.fa-satoshisymbol-solid{style: "margin-right: 0.3em;"}
      Sats:
      %strong{style: "margin-left: 0.3em;"}= @sats_count
  %div{style: "margin-top: 2em; color: #888; font-size: 1.1em;"}
    This page shows how many times users have toggled to each mode.
    %br
    Settings are randomized on a user's first visit to not bias the results.
  %div{style: "display: flex; justify-content: center; margin-top: 3em;"}
    = link_to 'Home', root_path, class: 'button projector-footer-btn'