.qr-code-toggle
  %span.toggle-label.toggle-label-qr QR Code
  %label.switch
    %input#qrCodeToggleSlider{type: "checkbox", checked: true, "data-action" => "change->topics#toggleQrCode"}
    %span.slider
