.sats-btc-toggle
  %span.toggle-label.toggle-label-units Units
  %span.toggle-label.toggle-label-sats Sats
  %label.switch
    %input#satsBtcToggleSlider{type: "checkbox"}
    %span.slider
  %span.toggle-label.toggle-label-btc ₿
