<h1>Topics</h1>

<%= link_to 'New Topic', new_topic_path, class: 'button' %>

<ul>
  <% @topics.each do |topic| %>
    <li>
      <strong><%= topic.name %></strong><br>
      <%= simple_format(topic.description) %><br>
      <span>Total Sats Received: <%= topic.total_sats_received %></span>
    </li>
  <% end %>
</ul>
