<h1>Topics</h1>

<%= link_to 'New Topic', new_topic_path, class: 'button' %>

<ul>
  <% @topics.each do |topic| %>
    <p>
      <li>
        <strong><%= link_to topic.name, topic_path(topic) %></strong><br>
        <span>Total Sats Received: <%= topic.sats_received %></span>
      </li>
    </p>
  <% end %>
</ul>
