/* =========================
   SHARED TOPICS STYLES
   ========================= */
.topic-header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0;
}

.topic-name {
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 0;
}

