.navigation.mobile-navigation
  -# For the we aren't showing Organizations on Mobile.
  -# TODO: When we update Organizations for Mobile, we can add this back in.
  -# - unless current_page?('/organizations')
  -#   = link_to 'Organizations', organizations_path, class: 'button'

  -## For the moment there are no moderation tools available in Mobile mode. So lets hide this for now.
  -# TODO: When we update Moderation tools for Mobile, we can add this back in.
  -# - if user_signed_in?
  -#   = link_to 'Profile', profile_path, class: 'button'
  -#   = link_to 'Organizations', organizations_path, class: 'button'
  -# - else
  -#   = link_to 'Sign up', new_user_registration_path, class: 'button'
  -#   = link_to 'Login', new_user_session_path, class: 'button'

  - unless current_page?(root_path) || current_page?('/seminars')
    = link_to 'Home', root_path, class: 'button'

  -# Submit Topic button for socratic seminar topics page
  - if request.path.match?(/\/socratic_seminars\/\d+\/topics$/)
    - socratic_seminar_id = request.path.split('/')[2]
    = link_to 'Submit Topic', new_socratic_seminar_topic_path(socratic_seminar_id), class: 'button submit-topic-button'
