<div class="container">
  <% content_for :title, "New socratic seminar" %>

  <h1>New socratic seminar</h1>
  <% if @admin_mode %>
    <%= render "form", socratic_seminar: @socratic_seminar %>
  <% else %>
    <p>Admin mode required to create seminars.</p>
  <% end %>
  <br>
  <div>
    <%= link_to "Back to socratic seminars", socratic_seminars_path(mode: (@admin_mode ? 'admin' : nil)) %>
  </div>
</div>
